body{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: $dark;
    background-color: $lightest;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1{
    font-size: 30px;
    color: $grey;
}


/* Attribution Vorgabe */
.attribution { 
    font-size: 11px; 
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}