.offer{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 0 auto 2rem auto;
    
    &__price{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark;
        font-size: 2rem;
        margin: 2rem 0;
    }
    
    &__highlights li{
        border-top: 1pt solid lightgrey;
        padding: 1rem 0;
    }

    &__highlights li:last-of-type{
        border-bottom: 1px solid lightgrey;
    }
    
    &__btn{
        font-size: 0.8rem;
        color: white;
        letter-spacing: 0.15em;
        width: 100%;
        padding: 10px;
        margin-top: 2rem;
        border-radius: 5px;
        border: 1px solid transparent;
        background-image: linear-gradient(to right, $light-purple, $dark-purple);
    }
    &__btn:hover{
        color: $dark-purple;
        background-image: none;
        border: 1px solid $dark-purple;
    }
}

.price{
    font-size: 4rem;
    margin: 0 5px;
}





