@import "partials/normalize";
@import "partials/variables";


*, :after{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'Heebo', sans-serif;
    color: $grey-dark;
    font-size: 1.5rem;
}

header{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper{
    width: 80%;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(black, 0.2),
                0px 18px 0px -10px white,
                0px 20px 7px -12px rgba(black, 0.3),
                0px 36px 0px -20px white,
                0px 38px 7px -22px rgba(black, 0.3);
}

h1{
    font-size: 6.25rem;
    font-weight: lighter;
    color: #d79797;
    margin: 0;
}




/*------Inputfeld------*/

@import "partials/input";



/*------Liste------*/

@import "partials/list";



/*------Counter------*/

@import "partials/counter";


/*------Filter------*/

@import "partials/filters";