*, :after{
    box-sizing:border-box;
  }

$bg: #185787;
$skin: #f7a99b;
$skin-dark: #d69488;

body{
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

    animation: bg-apple 4s ease-out forwards,  
                bg-carrot 4s ease-out 4s forwards;
}


/* VEGGIE */

.veggie{
    width: 500px;
    height: 500px;
    position: relative;

    animation: rotation 4s infinite ease-in-out
}

.veggie__img{
    width: 100px;
    height: 100px;
    background-image: url(animation1.svg);
    background-repeat: no-repeat;
    background-size: cover;

    animation:  rotation 4s infinite ease-in-out reverse,
                change-apple 1s steps(29) 3.8s forwards,
                change-carrot 1s steps(29) 7.6s forwards;
}


/* PIG */

.pig{
    width: 300px;
    height: 250px;
    position: absolute;

}

.pig__head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 200px;
    height: 170px;
    border-radius: 50%;
    background-color: $skin;
    padding-top: 10px;
    z-index: -1;
}

.pig__ears{
    display: flex;
    justify-content: space-between;
}

.ear{
    width: 85px;

    &-left{
        margin-left: 40px;
        transform: rotate(-45deg);
        transform-origin: bottom center;

        animation-name: wiggle-left;
        animation-duration: 3s;
        animation-delay: 1.3s;
        animation-iteration-count: infinite;
    }

    &-right{
        margin-right: 40px;
        transform: rotate(45deg);
        transform-origin: bottom center;

        animation-name: wiggle-right;
        animation-duration: 3s;
        animation-delay: 1.3s;
        animation-iteration-count: infinite;
    }
}

.pig__eyes{
    display: flex;
    justify-content: center;
}

.eye{
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    background-color: black;
    border-radius: 50%;

    animation: turn 4s infinite ease-in-out;

    &-glow{
        width: 0.4em;
        height: 0.4em;
        background-color: white;
        border-radius: 50%;
        margin: 5px;
    }
}

.pig__nose{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    padding-bottom: 5px;
    border-radius: 50%;
    background-color: $skin;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

.nose{
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    background-color: $skin-dark;
    border-radius: 50%;

}



/* Animation */

@keyframes bg-apple{
    0%{
        background-color: #ffffb5;
    }
    90%{
        background-color: #ffffb5;
    }
    100%{
        background-color: #9dcff8;
    }
}

@keyframes bg-carrot{
    0%{
        background-color: #9dcff8;
    }
    90%{
        background-color: #9dcff8;
    }
    100%{
        background-color: #caffcf;
    }
}

@keyframes turn {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
  }

@keyframes wiggle-left {
    0%{

    }
    12%{
        transform: rotate(-45deg);
    }
    15%{
        transform: rotate(-30deg);
    }
    20%{
        transform: rotate(-35deg);
    }
    28%{
        transform: rotate(-32deg);
    }
    30%{
        transform: rotate(-35deg);
    }
    33%{
        transform: rotate(-28deg);
    }
    40%{
        transform: rotate(-45deg);
    }
}

@keyframes wiggle-right {
    0%{

    }
    12%{
        transform: rotate(45deg);
    }
    15%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(35deg);
    }
    28%{
        transform: rotate(32deg);
    }
    30%{
        transform: rotate(35deg);
    }
    33%{
        transform: rotate(28deg);
    }
    40%{
        transform: rotate(45deg);
    }
}

@keyframes change-apple{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -2900px;
    }
}

@keyframes change-carrot{
    0%{
        background-image: url(animation2.svg);
        background-position-x: 0;
    }
    100%{
        background-image: url(animation2.svg);
        background-position-x: -2900px;
    }
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}