*, :after{
    box-sizing:border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'Heebo', sans-serif;
    color: #4d4d4d;
    font-size: 1.5rem;
}

header{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todolist{
    width: 80%;
    background-color: white;
    border: solid 0.5pt #ededed;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 10%);
}

h1{
    font-size: 6.25rem;
    font-weight: lighter;
    color: #af2f2f;
    margin: 0;
}

.arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.input-line{
    display: flex;
    align-items: center;
    border: none;
}

.textfeld{
    width: 90%;
}

input::placeholder{
    font-style: oblique;
    color: #ededed;
}

input{
    border: none;
    height: 4rem;
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item{
    height: 4rem;
    display: flex;
    align-items: center;
    border-top: solid 1pt #ededed;
}

.check, .delete {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 10px;
}

.delete{
    visibility: hidden;
}

.list-item:hover .delete{
    visibility: visible;
}

.item-name{
    flex-grow: 2;
}

.counter{
    height: 3rem;
    border-top: solid 1pt #ededed;
    display: flex;
    align-items: center;
    padding: 10px;
}

.counter p {
    font-size: 1rem;
}


.effekt{
    display: inline-block;
    height: 7px;
    background-color: white;
    border: solid 0.5pt #ededed;
    border-top: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 10%);
}

.stapel1{
    width: 79%;

}

.stapel2{
    width: 78%;
}