@import "partials/normalize";
@import "partials/mixins";
@import "partials/variables";

html{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body{
    color: $grey;
    height: 100vh;
    padding: 3rem 0;
    background-color: $lightest;
    background-image: url('../images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: 12rem -2rem;

    @include desktop{
        background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
        background-position: top right, bottom left;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1{
    font-size: 2rem;
}

@import "partials/header";
@import "partials/offer";

.font-white{
    color: white;
}


/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center;
    padding-bottom: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
