
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item{
        height: 4rem;
        display: flex;
        align-items: center;
        border-top: solid 1px $grey-light;

        &--done{
            text-decoration: line-through;
            color: $grey-light;
        }
    }

    &__checkbox{
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        input{
            display: none;
        }
    }

    &__label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__checkmark + .list__label::before{
        content: url(../img/unchecked.svg);
        width: 2.2rem;
        height: 2.2rem;
    }
    &__checkmark:checked + .list__label::before{
        content: url(../img/checked.svg);
    }

    &__item-name{
        flex-grow: 2;
    }

    &__sort{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 5rem;
        margin-right: 1rem;
        visibility: hidden;

        img{
            height: 1rem;
        }
    }

    &__delete{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        visibility: hidden;
        
        img{
            height: 2.2rem;
        }
    }

    &__item:hover &__delete, &__item:hover &__sort{
        visibility: visible;
    }
    
}