.input{
    display: flex;
    align-items: center;
    border: none;

    &__arrow{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }

    &__textbox{
        width: 90%;
    }

    &__formfield{
        border: none;
        height: 4rem;
        width: 100%;
    
        &::placeholder{
        font-style: oblique;
        color: $grey-light;
        }
    }

}