
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item{
        height: 4rem;
        display: flex;
        align-items: center;
        border-top: solid 1px $grey-light;

        &--done{
            text-decoration: line-through;
            color: $grey-light;
        }
    }

    &__checkbox,
    &__delete{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;

        img{
            width: 2.2rem;
        }
    }

    &__checkbox{
        height: 2.2rem;

        

        input{
            visibility: hidden;

            &::after{
                content: url(../img/unchecked.svg);
                }

            &:checked::after{
                content: url(../img/checked.svg);
                }
        }
        
    }


    &__item-name{
        flex-grow: 2;
    }

    &__delete{
        visibility: hidden;
    }

    &__item:hover &__delete{
        visibility: visible;
    }
    
}