
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item{
        height: 4rem;
        display: flex;
        align-items: center;
        border-top: solid 1px $grey-light;

        &--done{
            text-decoration: line-through;
            color: $grey-light;
        }
    }

    &__checkbox, 
    &__delete{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        padding: 10px;
    }

    &__checkmark{
        width: 40px;
        height: 40px;
        background-size: contain;
        background-image: url(../img/unchecked.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item-name{
        flex-grow: 2;
    }

    &__delete{
        visibility: hidden;
    }

    &__item:hover &__delete{
        visibility: visible;
    }
    
}

.standard-checkbox{
    display:none;
}

.standard-checkbox:checked + .list__checkmark{
    background-image: url(../img/checked.svg);

}


